.player-avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #b8e6d5;
  color: #1a5740;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.6875rem;
  font-weight: 600;
  border: none;
  flex-shrink: 0;
}

.player-avatar:nth-of-type(3) {
  background: #fff3e0;
  color: #e65100;
}

.player-avatar:nth-of-type(4) {
  background: #e8f5e9;
  color: #2e7d32;
}

.player-avatar:nth-of-type(5) {
  background: #fce4ec;
  color: #c2185b;
}
